td {
    border-style: inset;
}

body article p {
    color: green;
}

caption {
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px;
    background-color: blueviolet;
    border: 20px
}

th {
    padding: 10px;
    background-color: aqua;
    border-radius: 15px;

}

td {
    padding: 7px;
    text-align: center;

}

td.recreo:hover {
    background-color: rgb(225, 0, 255);
}

table {
    border: 20px;
}
.recreo {
    background-color: yellow;
}
td:nth-child(1){
    background-color: rgb(78, 78, 219);
    color: azure;
    border-radius: 15px;
}
th:nth-child(1){
    background-color: white;
    color: white;
}